header{
	width: 100%;
	position: relative;
}
h1{
	text-align: center;
	color: #3C496B;
	text-transform: uppercase;
	margin-bottom: 0%;
}
section{
	width: 100%;
	overflow: hidden;
}
nav{
	width: 80%;
	height: 40px;
	padding: 2% 0% 0% 25%;
	background-color: white;
}
a{
	text-decoration: none;
	color:;
	padding-right: 16%;
	color: #DFE0E7;
}
 img{
    width: 100%;
  }
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
form{
	width: 39%;
	margin: 0% 0% 0% 10%;
}
#feedback-page{
	text-align:center;
}
#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}
.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	background-color: white;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	box-sizing: border-box;
  	border: 1px solid #E8E6E6;
}
/* Icons ---------------------------------- */
#ico-nombre{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#ico-email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#ico-mensaje{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
textarea {
    width: 100%;
    height: 120px;
    line-height: 150%;
    resize:vertical;
}
input:hover, textarea:hover{
	background-color:white;
}
#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%; 
	height: 70px;
	border: 1px solid #192951;
	border-radius: 5px;
	background-color: #192951;
	color:white;
	font-size:24px;
	padding: 22px 0px 22px 0px;
	transition: all 0.3s;
  	margin-top:-4px;
}
.contactanos{
	width: 100%;
	height: 500px;
	background-image: url("../img/shoes_1.jpg");
	background-size: 60%;
	background-position: 500px 0px;
	background-repeat: no-repeat;
	padding: 4.5% 0% 0% 0%;
}
.title-contactanos{
	margin: 0% 0% 3% 10%;
	font-size: 200%;
}
footer{
	width: 100%;
	height: 60px;
	background-color: #192951;
	color: white;
	padding: 0.5% 0% 0% 2%;
	font-size: 14px;
	box-sizing: border-box;
}	